[submodule "shmtu-terminal-tauri"]
	path = shmtu-terminal-tauri
	url = https://github.com/a645162/shmtu-terminal-tauri.git
[submodule "shmtu-terminal-desktop"]
	path = shmtu-terminal-desktop
	url = https://github.com/a645162/shmtu-terminal-desktop.git
[submodule "shmtu-terminal-android"]
	path = shmtu-terminal-android
	url = https://github.com/a645162/shmtu-terminal-android.git
[submodule "Server/shmtu-cas-ocr-server"]
	path = Server/shmtu-cas-ocr-server
	url = https://github.com/a645162/shmtu-cas-ocr-server.git
[submodule "Server/shmtu-service-monitor"]
	path = Server/shmtu-service-monitor
	url = https://github.com/a645162/shmtu-service-monitor.git

[submodule "Server/shmtu-server-unofficial"]
	path = Server/shmtu-server-unofficial
	url = git@github.com:a645162/shmtu-server-unofficial.git

[submodule "Server/smu-badminton"]
	path = Server/smu-badminton
	url = https://github.com/YahelLiu/smu-badminton.git
